/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
}

input:focus {
	border: solid 2px #2d6fff;
	outline: none;
}

#hidden {
	display: none;
}

.look:hover {
	display: block;
}

.Mobile {
	max-width: 500px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
}

.ticket {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 3fr;
	grid-template-areas: "a a b b c d d d";
}

.grid-item {
	/* width: 284px; */
}

/*텍스트가 div 넘치려고 할 때 ∙∙∙ 처리*/
.truncate {
	display: inline-block;
	text-overflow: ellipsis; /*텍스가 div 넘치려고 할 때 ∙∙∙ 처리*/
	white-space: nowrap; /*텍스트가 길어서 부모 요소 안의 가로폭을 넘어가더라도 자동으로 줄바꿈 처리 X*/
	width: 100%; /* 요소의 너비를 명시적으로 지정 */
}

.ticketBox {
	margin: 20px 20px;
}

/* .scroll-box {
	overflow-y: scroll;
} */

.scroll-box {
	/* width: 250px; */
	overflow-y: scroll;
}

/* 스크롤바의 폭 너비 */
.scroll-box::-webkit-scrollbar {
	width: 6px;
	height: 50px;
}

.scroll-box::-webkit-scrollbar-thumb {
	background: #797872; /* 스크롤바 색상 */
	border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
